<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

Welcome  <%=username%>




<div class="bx">
  <a class="btn btn-dark btn-lg" href="/logout" role="button">Log Out</a>
</div>

  </body>
</html>
